<div class="mt-8">
    <ul role="users" class="-my-6 divide-y divide-gray-200">
      <% @users.each do |user|%>
        <%= render partial: "users/user_info", locals: { user: user } %>
      <% end %>
    </ul>
</div>

<div class="mt-8">
    <p>
      <% if @users.empty? %>
        <p>There are no users :(</p>
      <% end %>
    </p>
</div>



