<div class="flex flex-1 items-end justify-center text-sm">
    <h1 class="text-4xl font-bold">LoggedIn User: <%= @current_user.name %></h1>
    <button type="button" class="text-indigo-600 hover:text-indigo-500 ml-4 text-xl border-black border-4 p-4 mx-8">
      <a href="/users/<%= @current_user.id %>/posts/new">Create Post </a>
    </button>
  </div>
<div class="mt-8">
    <ul>
      <% @users.each do |user|%>
        <%= render partial: "users/user_info", locals: { user: user } %>
      <% end %>
    </ul>
</div>

<div class="mt-8">
    <p>
      <% if @users.empty? %>
        <p>There are no users :(</p>
      <% end %>
    </p>
</div>



