<ul>
  <%= render partial: "users/user_info", locals: { user: @posts.first.author } %>
</ul>
<ul>
  <% @posts.each do |post|%>
    <%= render partial: "posts/post_info", locals: { post: post } %>
  <% end %>
</ul>
<ul class="border-black border-4 px-4 py-2 m-8">
  <% @posts.each do |post|%>
    <% if post.comments.any? %>
      <%= render partial: 'posts/post_comments', locals: { comments: post.latest_five_comments} %>
    <% end %>
    <% if post.comments.empty? %>
      <h3>There no comments for this post!</h3>
    <% end %>
  <% end %>
</ul>
